* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, rgb(74, 215, 148), rgb(164, 1, 124));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.feature * {
  font-size: 25px;
  transition: all 0.3s;
}
.feature_shuffle:hover,
.feature_back:hover,
.feature_play_pause:hover,
.feature_next:hover,
.feature_load:hover {
  opacity: 0.7;
}

.adjust_volume {
  font-size: 20px;
}
button {
  background-color: transparent;
  border: none;
}
i {
  color: white;
}
#icon_larger {
  font-size: 45px;
}
.container {
  width: 300;
  height: 500;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wave_animation {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.wave {
  margin-top: 20px;
  height: 80px;
  width: 4px;
  background-color: white;
  border-radius: 8px;
}
.wave_outside {
  animation: wave_out_side 1.5s linear infinite;
}
@keyframes wave_out_side {
  0% {
    background-color: white;
    transform: scaleY(80%);
    opacity: 1;
  }
  50% {
    background-color: palevioletred;
    transform: scaleY(20%);
    opacity: 0.5;
  }
  100% {
    transform: scaleY(60%);
    opacity: 1;
  }
}
.wave_inside_1 {
  animation: wave_out_side 1.5s linear 0.3s infinite;
}
@keyframes wave_out_side {
  0% {
    background-color: white;
    transform: scaleY(80%);
    opacity: 1;
  }
  50% {
    background-color: palevioletred;
    transform: scaleY(20%);
    opacity: 0.5;
  }
  100% {
    transform: scaleY(60%);
    opacity: 1;
  }
}
.wave_inside_2 {
  animation: wave_out_side 1.5s linear 0.5s infinite;
}
@keyframes wave_out_side {
  0% {
    transform: scaleY(80%);
    opacity: 1;
  }
  50% {
    background-color: palevioletred;
    transform: scaleY(20%);
    opacity: 0.5;
  }
  100% {
    background-color: aqua;
    transform: scaleY(60%);
    opacity: 1;
  }
}
.wave_iner_all {
  animation: wave_out_side 1.5s linear 0.8s infinite;
}
@keyframes wave_out_side {
  0% {
    transform: scaleY(80%);
    opacity: 1;
  }
  50% {
    background-color: palevioletred;
    transform: scaleY(20%);
    opacity: 0.5;
  }
  100% {
    background-color: aqua;
    transform: scaleY(60%);
    opacity: 1;
  }
}
.img_pause_animation {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.img_play_animation {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: rolate 15s linear -1s infinite;
}
@keyframes rolate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Chỉnh input_range  */
.slider {
  appearance: none;
  width: 100%;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: opacity 0.3s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: white;
  cursor: pointer;
}

.adjust_volume {
  justify-content: center;
  align-items: center;
}
